@charset "utf-8";

////////// セッティング //////////


////////// メディアクエリ用のミックスイン //////////
// ブレイクポイントを設定
$bp-sl_tp: 481px; //スマートフォンランドスケープからタブレットポートレイト
$bp-tl: 769px; //タブレットランドスケープ
$bp-pc: 1150px; //パソコン

// ミックスイン
@mixin media($media-width) {
  @if $media-width == sl_tp { //スマートフォンランドスケープからタブレットポートレイト
    @media only screen and (min-width: $bp-sl_tp) {
      @content;
    }
  }
  @else if $media-width == tl { //タブレットランドスケープ
    @media only screen and (min-width: $bp-tl) {
      @content;
    }
  }
  @else if $media-width == pc { //パソコン
    @media only screen and (min-width: $bp-pc) {
      @content;
    }
  }
}


////////// カラー設定 //////////
$clr_c1: #000000; //コアカラー1：真黒
$clr_c2: #222222; //コアカラー2：濃い灰色
$clr_c3: #444444; //コアカラー3：薄い灰色
$clr_c4: #bbbbbb; //コアカラー4：とても薄い灰色
$clr_c5: #ffffff; //コアカラー5：真白
$clr_m:  #7b0e00; //メインカラー：臙脂色
$clr_s:  #774800; //サブカラー：黄土色
$clr_a1: #ae2e1e; //アクセントカラー1：赤 武器
$clr_a2: #245990; //アクセントカラー2：青 防具
$clr_a3: #2c8871; //アクセントカラー3：緑 衣類
$clr_a4: #90248c; //アクセントカラー4：紫 陰陽札
$clr_a5: #ceb552; //アクセントカラー5：黄 キャラメイク


////////// data uri schemeのsvgアイコン //////////
$svg-asanoha: url("data:image/svg+xml,%3C%3Fxml%20version%3D%221.0%22%20encoding%3D%22utf-8%22%3F%3E%3Csvg%20version%3D%221.1%22%20xmlns%3D%22http%3A//www.w3.org/2000/svg%22%20width%3D%2250px%22%20height%3D%2229px%22%20viewBox%3D%220%200%2050%2029%22%3E%3Cpath%20opacity%3D%220.1%22%20fill%3D%22%23#{str-slice(""+$clr_c5, 2)}%22%20d%3D%22M32.8%2C0l-7.3%2C12.6V0h-1v12.6L17.2%2C0H0v29h17.2l7.3-12.6V29h1V16.4L32.8%2C29H50V0H32.8zM16.4%2C0.5l7.3%2C12.6L1.9%2C0.5H16.4zM23.1%2C14L8.6%2C14L1.4%2C1.4L23.1%2C14zM0.5%2C1.9l7.3%2C12.6L0.5%2C27.1V1.9zM8.6%2C15h14.5L1.4%2C27.6L8.6%2C15zM16.4%2C28.5H1.9l21.8-12.6L16.4%2C28.5zM33.6%2C0.5h14.5L26.4%2C13.1L33.6%2C0.5zM48.6%2C1.4L41.4%2C14l-14.5%2C0L48.6%2C1.4zM33.6%2C28.5l-7.3-12.6l21.8%2C12.6L33.6%2C28.5zM26.9%2C15h14.5l7.3%2C12.6L26.9%2C15zM42.2%2C14.5l7.3-12.6v25.3L42.2%2C14.5z%22/%3E%3C/svg%3E");

$svg-arrow: url("data:image/svg+xml,%3C%3Fxml%20version%3D%221.0%22%20encoding%3D%22utf-8%22%3F%3E%3Csvg%20version%3D%221.1%22%20xmlns%3D%22http%3A//www.w3.org/2000/svg%22%20width%3D%22200px%22%20height%3D%22200px%22%20viewBox%3D%220%200%20200%20200%22%3E%3Cpath%20fill%3D%22%23#{str-slice(""+$clr_c5, 2)}%22%20d%3D%22M149.5%2C100l-99%2C100v-36.9l62.4-63.1L50.5%2C36.9V0L149.5%2C100z%22/%3E%3C/svg%3E");

$svg-link: url("data:image/svg+xml,%3C%3Fxml%20version%3D%221.0%22%20encoding%3D%22utf-8%22%3F%3E%3Csvg%20version%3D%221.1%22%20xmlns%3D%22http%3A//www.w3.org/2000/svg%22%20width%3D%22200px%22%20height%3D%22200px%22%20viewBox%3D%220%200%20200%20200%22%3E%3Cpath%20fill%3D%22%23#{str-slice(""+$clr_m, 2)}%22%20d%3D%22M78.3%2C129.5c-19-19-19-50%2C0-69l38.4-38.4c9.2-9.2%2C21.5-14.3%2C34.5-14.3s25.3%2C5.1%2C34.5%2C14.3c19%2C19%2C19%2C50%2C0%2C69l-17.6%2C17.5l-14.7-14.7L171%2C76.4c10.9-10.9%2C10.9-28.7%2C0-39.6c-5.3-5.3-12.3-8.2-19.8-8.2c-7.5%2C0-14.5%2C2.9-19.8%2C8.2L93%2C75.2c-10.9%2C10.9-10.9%2C28.7%2C0%2C39.6L78.3%2C129.5zM83.3%2C177.9l38.4-38.4c19-19%2C19-50%2C0-69L107%2C85.2c10.9%2C10.9%2C10.9%2C28.7%2C0%2C39.6l-38.4%2C38.4c-5.3%2C5.3-12.3%2C8.2-19.8%2C8.2c-7.5%2C0-14.5-2.9-19.8-8.2c-10.9-10.9-10.9-28.7%2C0-39.6l17.6-17.6L31.8%2C91.3l-17.6%2C17.6c-19%2C19-19%2C50%2C0%2C69c9.2%2C9.2%2C21.5%2C14.3%2C34.5%2C14.3S74.1%2C187.1%2C83.3%2C177.9z%22/%3E%3C/svg%3E");

$svg-link2: url("data:image/svg+xml,%3C%3Fxml%20version%3D%221.0%22%20encoding%3D%22utf-8%22%3F%3E%3Csvg%20version%3D%221.1%22%20xmlns%3D%22http%3A//www.w3.org/2000/svg%22%20width%3D%22200px%22%20height%3D%22200px%22%20viewBox%3D%220%200%20200%20200%22%3E%3Cpath%20fill%3D%22%23#{str-slice(""+$clr_m, 2)}%22%20d%3D%22M50%2C125c0%2C0%2C11.5-37.5%2C75-37.5V125l75-50l-75-50v37.5C75%2C62.5%2C50%2C93.7%2C50%2C125zM137.5%2C150H25V75h24.6c2-2.3%2C4.1-4.6%2C6.3-6.7c8.6-8%2C18.9-14.2%2C30.5-18.3H0v125h162.5v-52.5l-25%2C16.7L137.5%2C150L137.5%2C150z%22/%3E%3C/svg%3E");

$svg-quo1: url("data:image/svg+xml,%3C%3Fxml%20version%3D%221.0%22%20encoding%3D%22utf-8%22%3F%3E%3Csvg%20version%3D%221.1%22%20xmlns%3D%22http%3A//www.w3.org/2000/svg%22%20width%3D%22200px%22%20height%3D%22200px%22%20viewBox%3D%220%200%20200%20200%22%3E%3Cpath%20fill%3D%22%23#{str-slice(""+$clr_c4, 2)}%22%20d%3D%22M43.9%2C81.3c24.1%2C0%2C43.7%2C19.6%2C43.7%2C43.7S68%2C168.7%2C43.9%2C168.7c-24.1%2C0-43.7-19.6-43.7-43.7L0%2C118.7c0-48.3%2C39.1-87.4%2C87.4-87.4v25c-16.7%2C0-32.4%2C6.5-44.1%2C18.3c-2.3%2C2.3-4.3%2C4.7-6.2%2C7.2C39.3%2C81.5%2C41.6%2C81.3%2C43.9%2C81.3zM156.3%2C81.3c24.1%2C0%2C43.7%2C19.6%2C43.7%2C43.7s-19.6%2C43.7-43.7%2C43.7c-24.1%2C0-43.7-19.6-43.7-43.7l-0.2-6.2c0-48.3%2C39.1-87.4%2C87.4-87.4v25c-16.7%2C0-32.4%2C6.5-44.1%2C18.3c-2.3%2C2.3-4.3%2C4.7-6.2%2C7.2C151.7%2C81.5%2C154%2C81.3%2C156.3%2C81.3L156.3%2C81.3z%22/%3E%3C/svg%3E");

$svg-quo2: url("data:image/svg+xml,%3C%3Fxml%20version%3D%221.0%22%20encoding%3D%22utf-8%22%3F%3E%3Csvg%20version%3D%221.1%22%20xmlns%3D%22http%3A//www.w3.org/2000/svg%22%20width%3D%22200px%22%20height%3D%22200px%22%20viewBox%3D%220%200%20200%20200%22%3E%3Cpath%20fill%3D%22%23#{str-slice(""+$clr_c4, 2)}%22%20d%3D%22M156.1%2C118.7c-24.1%2C0-43.7-19.6-43.7-43.7s19.6-43.7%2C43.7-43.7s43.7%2C19.6%2C43.7%2C43.7l0.2%2C6.2c0%2C48.3-39.1%2C87.4-87.4%2C87.4v-25c16.7%2C0%2C32.4-6.5%2C44.1-18.3c2.3-2.3%2C4.3-4.7%2C6.2-7.2C160.7%2C118.5%2C158.4%2C118.7%2C156.1%2C118.7zM43.7%2C118.7C19.6%2C118.7%2C0%2C99.2%2C0%2C75s19.6-43.7%2C43.7-43.7S87.4%2C50.9%2C87.4%2C75l0.2%2C6.2c0%2C48.3-39.1%2C87.4-87.4%2C87.4v-25c16.7%2C0%2C32.4-6.5%2C44.1-18.3c2.3-2.3%2C4.3-4.7%2C6.2-7.2C48.3%2C118.5%2C46%2C118.7%2C43.7%2C118.7z%22/%3E%3C/svg%3E");

$svg-search: url("data:image/svg+xml,%3C%3Fxml%20version%3D%221.0%22%20encoding%3D%22utf-8%22%3F%3E%3Csvg%20version%3D%221.1%22%20xmlns%3D%22http%3A//www.w3.org/2000/svg%22%20width%3D%22200px%22%20height%3D%22200px%22%20viewBox%3D%220%200%20200%20200%22%3E%3Cpath%20fill%3D%22%23#{str-slice(""+$clr_c5, 2)}%22%20d%3D%22M193.8%2C170.2l-47.4-40.3c-4.9-4.4-10.1-6.4-14.4-6.2C143.2%2C110.6%2C150%2C93.6%2C150%2C75c0-41.4-33.6-75-75-75C33.6%2C0%2C0%2C33.6%2C0%2C75c0%2C41.4%2C33.6%2C75%2C75%2C75c18.6%2C0%2C35.6-6.8%2C48.7-17.9c-0.2%2C4.2%2C1.8%2C9.5%2C6.2%2C14.4l40.3%2C47.4c6.9%2C7.7%2C18.2%2C8.3%2C25%2C1.4C202.1%2C188.4%2C201.5%2C177.1%2C193.8%2C170.2zM75%2C125c-27.6%2C0-50-22.4-50-50c0-27.6%2C22.4-50%2C50-50c27.6%2C0%2C50%2C22.4%2C50%2C50C125%2C102.6%2C102.6%2C125%2C75%2C125z%22/%3E%3C/svg%3E");