@charset "utf-8";

////////// ヘッダーレイアウト //////////


////////// 目次 //////////
// ヘッダー
// ナビゲーション
// メインカラム
// メインカラム-ホーム
// サイドカラム
// フッター

////////// ヘッダー //////////
.l-headBar{
  width: 100%;
}
.l-headBar_wrap{
  width: 95%;
  margin: 0 auto;
  @include media(pc) {
    width: 1150px;
  }
}
.l-menuBtn{
  position: absolute;
  top: 4.75rem;
  left: 1rem;
}
.l-head_wrap{
  @include media(pc) {
    width: 1150px;
    margin: 0 auto;
    position: relative;
  }
}
.l-head_bnr{
  @include media(pc) {
    position: absolute;
    top: 3rem;
    left: 400px;
  }
}


////////// ナビゲーション //////////
.l-nav{
  width: 100%;
  position: fixed;
  bottom: 0;
  z-index: 99;
  @include media(pc) {
    width: 750px;
    position: absolute;
    right: 0;
    top: 11rem;
    z-index: 0;
  }
}


////////// メインカラム //////////
.l-wrap{
  width: 95%;
  margin: 0 auto;
  @include media(pc) {
    width: 1150px;
  }
}
.l-main{
  @include media(pc) {
    width: 750px;
    float: right;
  }
}
.l-sub{
  @include media(pc) {
    width: 336px;
    float: left;
  }
}
.l-section{
  margin-top: 1.5rem;
  @include media(pc) {
    margin-top: 3rem;
  }
}
.l-block{
  margin-top: 1rem;
}


////////// メインカラム-ホーム //////////





////////// サイドカラム //////////




////////// フッター //////////
.l-footer{
  margin-top: 3rem;
}

