@charset "utf-8";

////////// ヘッダーレイアウト //////////


////////// 目次 //////////
// ヘッダー
// ナビゲーション
// メインカラム
// メインカラム-ホーム
// サイドカラム
// フッター

////////// ヘッダー //////////


////////// ナビゲーション //////////
.l-nav{
  width: 100%;
  position: fixed;
  bottom: 0;
  z-index: 99;
}


////////// メインカラム //////////
.l-wrap{
  width: 95%;
  margin: 0 auto;
}


////////// メインカラム-ホーム //////////
.l-section{
  margin-top: 1.5rem;
}
.l-block{
  margin-top: 1rem;
}





////////// サイドカラム //////////




////////// フッター //////////
.l-footer{
  margin-top: 3rem;
}

