@charset "utf-8";

////////// プロジェクト //////////


////////// 目次 //////////
// ヘッダーバー
// ヘッダー
// メニューボタン
// ナビゲーション
// 新着情報
// メインバナー
// データベースメニュー
// メニュー | サイドカラム
// フッター

////////// ヘッダーバー //////////
.headBar{
  background-color: $clr_c3;
}
.headBar_title{
  padding-top: 0.75rem;
  font-size: 1.4rem;
  font-weight: bold;
  color: $clr_c5;
  float: left;
}
.headBar_link{
  padding: 0.5rem 0;
  float: right;
  li{
    display: inline-block;
  }
  a{
    display: block;
    padding: 0.5rem 0.7rem;
    background-color: $clr_c5;
    border-radius: 2px;
    margin-left: 0.5rem;
    line-height: 0;
    @include media(sl_tp) {
      padding: 0 0 0 2rem;
      margin-left: 2rem;
      position: relative;
      display: block;
      background: none;
      color: $clr_c5;
      text-decoration: none;
    }
  }
  svg{
    fill: $clr_c3;
    width: 1.5rem;
    height: 1.5rem;
    @include media(sl_tp) {
      position: absolute;
      top: 0;
      left: 0;
      bottom: 0;
      margin: auto;
      fill: $clr_c5;
    }
  }
  p{
    display: none;
    @include media(sl_tp) {
      display: block;
    }
  }
}


////////// ヘッダー //////////
.header{
  background-color: $clr_c1;
}
.head_logo{
  padding: 1rem 0;
  a{
    display: block;
    width: 9rem;
    height: auto;
    margin: 0 auto;
    @include media(pc) {
      width: 360px;
      height: 140px;
      margin: 0;
      padding: 2rem 0 3rem;
    }
  }
}
.head_cvr{
  background-color: $clr_c1;
  > div{
    @include media(pc) {
      width: 1150px;
      margin: 0 auto;
    }
  }
  img{
    width: 100%;
  }
}
.head_bnr{
  background-color: $clr_c2;
  padding: 1rem 0;
  @include media(pc) {
    padding: 0;
  }
  a{
    width: 95%;
    display: table;
    text-decoration: none;
    margin: 0 auto;
    height: 5rem;
    @include media(pc) {
      width: 450px;
      height: 6rem;
      transition: 0.3s;
      &:hover{
        opacity: 0.7;
      }
    }
  }
  h2{
    display: table-cell;
    vertical-align: middle;
    text-align: center;
    font-weight: bold;
    width: 22%;
    background-color: $clr_m;
    color: $clr_c5;
    position: relative;
    @include media(pc) {
      width: 30%;
    }
    &:after{
      display: block;
      content: '';
      width: 0;
      height: 0;
      border-top: 2.5rem solid transparent;
      border-bottom: 2.5rem solid transparent;
      border-left: 10px solid $clr_m;
      position: absolute;
      top: 0;
      left: 100%;
      @include media(pc) {
        border-top: 3rem solid transparent;
        border-bottom: 3rem solid transparent;
      }
    }
  }
  p{
    display: table-cell;
    vertical-align: middle;
    width: 78%;
    padding: 0 0.5rem 0 1.5rem;
    font-size: 1.2rem;
    background-color: $clr_c5;
    color: $clr_c2;
    @include media(pc) {
      width: 70%;
      font-size: 1.4rem;
    }
  }
}


////////// メニューボタン //////////
.menuBtn{
  svg{
    fill: $clr_c5;
    width: 3rem;
    height: 3rem;
  }
}


////////// ナビゲーション //////////
.nav{
  position: relative;
  display: -webkit-flex;
  display: flex;
  -webkit-justify-content: space-around;
  justify-content: space-around;
  -webkit-align-items: center;
  align-items: center;
  border-top: 3px solid $clr_s;
  border-bottom: 3px solid $clr_s;
  background-color: $clr_c1;
  @include media(pc) {
    border-top: 1px solid $clr_s;
    border-bottom: 1px solid $clr_s;
    background: none;
  }
  li{
    width: 20%;
    &:before,&:after{
      display: block;
      content: '';
      width: 1px;
      height: 4.8rem;
      -webkit-transform: rotate(-15deg);
      -o-transform: rotate(-15deg);
      transform: rotate(-15deg);
      background-color: $clr_s;
      position: absolute;
      top: 0;
      bottom: 0;
      margin: auto;
      @include media(pc) {

      }
    }
    &:after{
      -webkit-transform: rotate(15deg);
      -o-transform: rotate(15deg);
      transform: rotate(15deg);
    }
    &:first-child{ &:before,&:after{ display: none; }}
    &:nth-child(2){ &:before,&:after{ left: 20%; }}
    &:nth-child(3){ &:before,&:after{ left: 40%; }}
    &:nth-child(4){ &:before,&:after{ left: 60%; }}
    &:nth-child(5){ &:before,&:after{ left: 80%; }}
  }
  a{
    width: 100%;
    padding: 0.5rem 0;
    display: block;
    color: $clr_c5;
    text-decoration: none;
    font-size: 1rem;
    font-weight: bold;
    text-align: center;
    @include media(pc) {
      font-size: 1.5rem;
    }
  }
  svg{
    margin-bottom: 0.1rem;
    fill: $clr_c5;
    width: 2rem;
    height: 2rem;
  }
}
@include media(pc) {
  .nav li{
    a, svg{ transition: 0.2s; }
    &:first-child{ a:hover{ color: $clr_s; } a:hover svg{ fill: $clr_s; }}
    &:nth-child(2){ a:hover{ color: $clr_a1; } a:hover svg{ fill: $clr_a1; }}
    &:nth-child(3){ a:hover{ color: $clr_a2; } a:hover svg{ fill: $clr_a2; }}
    &:nth-child(4){ a:hover{ color: $clr_a3; } a:hover svg{ fill: $clr_a3; }}
    &:nth-child(5){ a:hover{ color: $clr_a4; } a:hover svg{ fill: $clr_a4; }}
  }
}


////////// 新着情報 //////////
.news{
  border: 1px solid $clr_c4;
  padding: 0 1rem;
  li{
    border-top: 1px solid $clr_c4;
    padding: 0.5rem 0;
    @include media(pc) {
      padding: 1rem 0;
    }
    &:first-child{
      border-top: none;
    }
    a{
      text-decoration: none;
      color: $clr_m;
      @include media(pc) {
        &:hover{
          text-decoration: underline;
        }
      }
    }
  }
}


////////// メインバナー //////////
.bnr_basic{
  font-weight: bold;
  background-color: $clr_m;
}
.bnr_strategy{
  font-weight: bold;
  background-color: $clr_s;
}


////////// データベースメニュー //////////
.dbMenu{
  position: relative;
  padding: 0.5rem 0.5rem 0.5rem 1rem;
  border: 1px solid $clr_c4;
  border-radius: 3px;
  @include media(pc) {
    padding: 1rem 1rem 1rem 1.5rem;
  }
  &:before{
    content: '';
    display: block;
    width: 0.5rem;
    height: 80%;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    margin: auto;
  }
  ul{
  display: -webkit-flex;
  display: flex;
  -webkit-align-items: center;
  align-items: center;
  -webkit-flex-wrap: wrap;
  flex-wrap:         wrap;
  }
  > ul{
  border-top: 1px solid $clr_c4;
  border-left: 1px solid $clr_c4;
  box-sizing: border-box;
  }
  li{
    border-right: 1px solid $clr_c4;
    border-bottom: 1px solid $clr_c4;
    border-collapse: collapse;
    box-sizing: border-box;
  }
  a{
    width: 100%;
    padding: 1rem 0;
    display: block;
    color: $clr_c2;
    text-decoration: none;
    font-weight: bold;
    text-align: center;
    @include media(sl_tp) {
      padding: 2rem 0;
    }
  }
}
.dbMenu_parent{
  -webkit-flex-basis: 100%;
  flex-basis:         100%;
  @include media(sl_tp) {
    -webkit-flex-basis: 25%;
    flex-basis:         25%;
    a{
      padding: 5.2rem 0;
    }
  }
  @include media(tl) {
    a{ padding: 5.3rem 0; }
  }
  @include media(pc) {
    a{ padding: 5.4rem 0; }
  }
}
.dbMenu_bogu .dbMenu_parent a{
  @include media(sl_tp) {
    padding: 8.4rem 0;
  }
  @include media(tl) {
    padding: 8.6rem 0;
  }
  @include media(pc) {
    padding: 8.8rem 0;
  }
}
.dbMenu_make .dbMenu_parent a{
  @include media(pc) {
    padding: 4.1rem 0;
  }
}
.dbMenu_child{
  width: 100%;
  @include media(sl_tp) {
    -webkit-flex-basis: 75%;
    flex-basis:         75%;
  }
  li{
    width: 33.33%;
  }
}
.dbMenu_buki{
  background-color: rgba($clr_a1, 0.1);
  &:before{ background-color: $clr_a1; }
  a:after,a:before{ border-color: $clr_a1; }
  a{ background-color: $clr_c5; }
}
.dbMenu_bogu{
  background-color: rgba($clr_a2, 0.1);
  &:before{ background-color: $clr_a2; }
  a:after,a:before{ border-color: $clr_a2; }
  a{ background-color: $clr_c5; }
}
.dbMenu_irui{
  background-color: rgba($clr_a3, 0.1);
  &:before{ background-color: $clr_a3; }
  a:after,a:before{ border-color: $clr_a3; }
  a{ background-color: $clr_c5; }
}
.dbMenu_fuda{
  background-color: rgba($clr_a4, 0.1);
  &:before{ background-color: $clr_a4; }
  a:after,a:before{ border-color: $clr_a4; }
  a{ background-color: $clr_c5; }
}
.dbMenu_make{
  background-color: rgba($clr_a5, 0.1);
  &:before{ background-color: $clr_a5; }
  a:after,a:before{ border-color: $clr_a5; }
  a{ background-color: $clr_c5; }
}


////////// メニュー | サイドカラム //////////
.subHead{
  padding: 2rem 0 1rem 0;
  text-align: center;
  background-color: $clr_c1;
  img{
    width: 60%;
    margin: 0 auto;
  }
}
.subHead_btn{
  a{
    display: block;
    width: 90%;
    margin: 0 auto;
    height: 4rem;
    font-size: 1.6rem;
    line-height: (4 / 1.6);
    text-decoration: none;
    color: $clr_c5;
    text-align: center;
    position: relative;
  }
  svg{
    width: 2rem;
    height: 2rem;
    position: absolute;
    top: 0;
    left: 1rem;
    bottom: 0;
    margin: auto;
    fill: $clr_c5;
  }
}
.subHead_write a{ background-color: $clr_a1; }
.subHead_login a{ background-color: $clr_a3; }
.subNav_wrap{
  margin-top: 2rem;
}
.subNav{
  padding-bottom: 0 !important;
}
.subNav_parent{
  position: relative;
  border-left: 0.5rem solid $clr_c1;
  text-indent: 4rem;
  line-height: 4rem !important;
  @include media(pc) {
    text-indent: 0.5rem;
    font-weight: bold;
    border: 0;
  }
  svg{
    width: 2.5rem;
    height: 2.5rem;
    position: absolute;
    top: 0;
    left: 2rem;
    bottom: 0;
    margin: auto;
    fill: $clr_c5;
    @include media(pc) {
      width: 2rem;
      height: 2rem;
      left: 1rem;
    }
  }
}
.subNav_buki > a{ border-color: $clr_a1; }
.subNav_bogu > a{ border-color: $clr_a2; }
.subNav_irui > a{ border-color: $clr_a3; }
.subNav_fuda > a{ border-color: $clr_a4; }
.subNav_make > a{ border-color: $clr_a5; }

@include media(pc) {
  .subNav_buki svg{ fill: $clr_a1; }
  .subNav_bogu svg{ fill: $clr_a2; }
  .subNav_irui svg{ fill: $clr_a3; }
  .subNav_fuda svg{ fill: $clr_a4; }
  .subNav_make svg{ fill: $clr_a5; }
}
@include media(pc) {
  .subNav_list{
    margin-top: 1rem;
    border-left: 1px solid $clr_c4;
    border-top: 1px solid $clr_c4;
    a{
      display: block;
      padding-left: 3rem;
      box-sizing: border-box;
      width: 100%;
      border-right: 1px solid $clr_c4;
      border-bottom: 1px solid $clr_c4;
      text-decoration: none;
      color: $clr_c2;
    }
  }
  .subNav_buki{ border-left: 0.5rem solid $clr_a1; }
  .subNav_bogu{ border-left: 0.5rem solid $clr_a2; }
  .subNav_irui{ border-left: 0.5rem solid $clr_a3; }
  .subNav_fuda{ border-left: 0.5rem solid $clr_a4; }
  .subNav_make{ border-left: 0.5rem solid $clr_a5; }
  .subNav_buki{ a:before, a:after { border-color: $clr_a1; } }
  .subNav_bogu{ a:before, a:after { border-color: $clr_a2; } }
  .subNav_irui{ a:before, a:after { border-color: $clr_a3; } }
  .subNav_fuda{ a:before, a:after { border-color: $clr_a4; } }
  .subNav_make{ a:before, a:after { border-color: $clr_a5; } }
}

.subNav_other{
  background-color: $clr_c3;
}

// PC検索フォーム
.search{
  form{
    display: block;
    position: relative;
    width: 100%;
  }
  #s{
    padding-left: 10px;
    width: 290px;
    height: 40px;
    border: 2px solid $clr_c4;
    outline: none;
    box-sizing: border-box;
    border-radius: 0;
  }
  #searchsubmit{
    position: absolute;
    top: 0;
    _top: 1px;
    left: 296px;
    padding: 0;
    width: 40px;
    height: 40px;
    border: 2px solid $clr_c4;
    background-color: $clr_c2;
    background-image: $svg-search;
    background-size: 25px 25px;
    background-repeat: no-repeat;
    background-position: 5px 5px;
    transition: 0.3s;
    cursor: pointer;
    border-radius: 0;
    &:hover{
      background-color: rgba($clr_c2, 0.7);
    }
  }
  *:first-child + html #searchsubmit{
    top: 1px;
  }
}



////////// フッター //////////
.foot_wrap{
  padding: 2rem 0 7rem 0;
  width: 100%;
  background-color: $clr_c1;
  @include media(pc) {
    padding: 4rem 0;
  }
}
.footNav{
  text-align: center;
  margin-bottom: 2rem;
  li{
    display: inline-block;
    margin: 0 2rem;
  }
  a{
    font-size: 1.3rem;
    text-decoration: none;
    color: $clr_c5;
    &:hover{
      text-decoration: underline;
    }
  }
}
.copyright{
  text-align: center;
  font-size: 1.2rem;
  color: $clr_c5;
}