@charset "utf-8";

////////// プロジェクト-共通 //////////


////////// 目次 //////////
// ヘッダー
// メニューボタン
// ログインボタンとか
// ナビゲーション
// メニュー | サイドカラム
// フッター
// パンくずリスト Breadcrumb NavXT
// ページネーション


////////// ヘッダー //////////
.header{
  background-color: $clr_c1;
}
.head_logo{
  padding: 1rem 0;
  @include media(pc) {
    padding: 0;
  }
  a{
    display: block;
    width: 9rem;
    height: auto;
    margin: 0 auto;
    @include media(pc) {
      width: 270px;
      height: 105px;
      margin: 0;
    }
  }
}
.head_cvr{
  background-color: $clr_c2;
  > div{
    position: relative;
    width: 100%;
    @include media(pc) {
      width: 1150px;
      margin: 0 auto;
    }
  }
}
.head_cvr_inner{
  width: 80%;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%); /* Safari用 */
  transform: translate(-50%, -50%);
  background-color: rgba($clr_c7,0.7);
  box-shadow: 0 0 10px 0;
  h2,p,a{ padding: 0.5rem 1rem; }
  h2,a{
    color: $clr_c7;
    text-align: center;
  }
  h2{ background-color: rgba($clr_c1,0.6); }
  a{
    background-color: $clr_m;
    display: block;
    width: 60%;
    margin: 0.5rem auto 1.5rem;
    text-decoration: none;
  }
  @include media(sl_tp) { width: 60%; }
  @include media(tl) {
    h2,p,a{
      padding: 1rem 2rem;
      text-align: center;
    }
    a{
      width: 60%;
      margin: 1rem auto 3rem;
    }
  }
}


////////// メニューボタン //////////
.menuBtn{
  svg{
    fill: $clr_c7;
    width: 3rem;
    height: 3rem;
  }
}


////////// ログインボタンとか //////////
.head_link{
  text-align: right;
  position: absolute;
  top: 1rem;
  right: 1rem;
  @include media(pc) {
    position: relative;
    top: 0;
    right: 0;
    margin-bottom: 1.5rem;
    li:first-child a:hover{ color:$clr_a1; }
    li:first-child a:hover svg{ fill:$clr_a1; }
    li:nth-child(2) a:hover{ color:$clr_a3; }
    li:nth-child(2) a:hover svg{ fill:$clr_a3; }
  }
  li{
    display: inline-block;
  }
  a{
    display: block;
    padding: 0.5rem;
    background-color: $clr_c7;
    border-radius: 2px;
    margin-left: 0.5rem;
    line-height: 0;
    @include media(sl_tp) {
      padding: 1.5rem 1.5rem 1.5rem 4rem;
      margin-left: 1rem;
      position: relative;
      color: $clr_c2;
      text-decoration: none;
    }
  }
  svg{
    fill: $clr_c3;
    width: 2rem;
    height: 2rem;
    @include media(sl_tp) {
      position: absolute;
      top: 0;
      left: 1rem;
      bottom: 0;
      margin: auto;
    }
  }
  p{
    display: none;
    @include media(sl_tp) {
      display: block;
    }
  }
}


////////// ナビゲーション //////////
.nav{
  position: relative;
  display: -webkit-flex;
  display: flex;
  -webkit-justify-content: space-around;
  justify-content: space-around;
  -webkit-align-items: center;
  align-items: center;
  border-top: 3px solid $clr_s;
  border-bottom: 3px solid $clr_s;
  background-color: $clr_c1;
  @include media(pc) {
    border-top: 1px solid $clr_s;
    border-bottom: 1px solid $clr_s;
    background: none;
  }
  li{
    width: 20%;
    &:before,&:after{
      display: block;
      content: '';
      width: 1px;
      height: 4.8rem;
      -webkit-transform: rotate(-15deg);
      -o-transform: rotate(-15deg);
      transform: rotate(-15deg);
      background-color: $clr_s;
      position: absolute;
      top: 0;
      bottom: 0;
      margin: auto;
      @include media(pc) {

      }
    }
    &:after{
      -webkit-transform: rotate(15deg);
      -o-transform: rotate(15deg);
      transform: rotate(15deg);
    }
    &:first-child{ &:before,&:after{ display: none; }}
    &:nth-child(2){ &:before,&:after{ left: 20%; }}
    &:nth-child(3){ &:before,&:after{ left: 40%; }}
    &:nth-child(4){ &:before,&:after{ left: 60%; }}
    &:nth-child(5){ &:before,&:after{ left: 80%; }}
  }
  a{
    width: 100%;
    padding: 0.5rem 0;
    display: block;
    color: $clr_c7;
    text-decoration: none;
    font-size: 1rem;
    font-weight: bold;
    text-align: center;
    @include media(pc) {
      font-size: 1.5rem;
    }
  }
  svg{
    margin-bottom: 0.1rem;
    fill: $clr_c7;
    width: 2rem;
    height: 2rem;
  }
}
@include media(pc) {
  .nav li{
    a, svg{ transition: 0.2s; }
    &:first-child{ a:hover{ color: $clr_s; } a:hover svg{ fill: $clr_s; }}
    &:nth-child(2){ a:hover{ color: $clr_a1; } a:hover svg{ fill: $clr_a1; }}
    &:nth-child(3){ a:hover{ color: $clr_a2; } a:hover svg{ fill: $clr_a2; }}
    &:nth-child(4){ a:hover{ color: $clr_a3; } a:hover svg{ fill: $clr_a3; }}
    &:nth-child(5){ a:hover{ color: $clr_a4; } a:hover svg{ fill: $clr_a4; }}
  }
}


////////// メニュー | サイドカラム //////////
.subHead{
  padding: 2rem 0 1rem 0;
  text-align: center;
  background-color: $clr_c1;
  img{
    width: 60%;
    margin: 0 auto;
  }
}
.subHead_btn{
  a{
    display: block;
    width: 90%;
    margin: 0 auto;
    height: 4rem;
    font-size: 1.6rem;
    line-height: (4 / 1.6);
    text-decoration: none;
    color: $clr_c7;
    text-align: center;
    position: relative;
  }
  svg{
    width: 2rem;
    height: 2rem;
    position: absolute;
    top: 0;
    left: 1rem;
    bottom: 0;
    margin: auto;
    fill: $clr_c7;
  }
}
.subHead_write a{ background-color: $clr_a1; }
.subHead_login a{ background-color: $clr_a3; }
.subNav_wrap{
  margin-top: 2rem;
}
.subNav{
  padding-bottom: 0 !important;
}
.subNav_parent{
  position: relative;
  border-left: 0.5rem solid $clr_c1;
  text-indent: 4rem;
  line-height: 4rem !important;
  @include media(pc) {
    text-indent: 0.5rem;
    font-weight: bold;
    border: 0;
  }
  svg{
    width: 2.5rem;
    height: 2.5rem;
    position: absolute;
    top: 0;
    left: 2rem;
    bottom: 0;
    margin: auto;
    fill: $clr_c7;
    @include media(pc) {
      width: 2rem;
      height: 2rem;
      left: 1rem;
    }
  }
}
.subNav_buki > a{ border-color: $clr_a1; }
.subNav_bogu > a{ border-color: $clr_a2; }
.subNav_irui > a{ border-color: $clr_a3; }
.subNav_fuda > a{ border-color: $clr_a4; }
.subNav_make > a{ border-color: $clr_a5; }

@include media(pc) {
  .subNav_buki svg{ fill: $clr_a1; }
  .subNav_bogu svg{ fill: $clr_a2; }
  .subNav_irui svg{ fill: $clr_a3; }
  .subNav_fuda svg{ fill: $clr_a4; }
  .subNav_make svg{ fill: $clr_a5; }
}
@include media(pc) {
  .subNav_list{
    margin-top: 1rem;
    border-left: 1px solid $clr_c5;
    border-top: 1px solid $clr_c5;
    a{
      display: block;
      padding-left: 3rem;
      box-sizing: border-box;
      width: 100%;
      border-right: 1px solid $clr_c5;
      border-bottom: 1px solid $clr_c5;
      text-decoration: none;
      color: $clr_c2;
    }
  }
  .subNav_buki{ border-left: 0.5rem solid $clr_a1; }
  .subNav_bogu{ border-left: 0.5rem solid $clr_a2; }
  .subNav_irui{ border-left: 0.5rem solid $clr_a3; }
  .subNav_fuda{ border-left: 0.5rem solid $clr_a4; }
  .subNav_make{ border-left: 0.5rem solid $clr_a5; }
  .subNav_buki{ a:before, a:after { border-color: $clr_a1; } }
  .subNav_bogu{ a:before, a:after { border-color: $clr_a2; } }
  .subNav_irui{ a:before, a:after { border-color: $clr_a3; } }
  .subNav_fuda{ a:before, a:after { border-color: $clr_a4; } }
  .subNav_make{ a:before, a:after { border-color: $clr_a5; } }
}

.subNav_other{
  background-color: $clr_c3;
}

// PC検索フォーム
.search{
  form{
    display: block;
    position: relative;
    width: 100%;
  }
  #s{
    padding-left: 10px;
    width: 290px;
    height: 40px;
    border: 2px solid $clr_c5;
    outline: none;
    box-sizing: border-box;
    border-radius: 0;
  }
  #searchsubmit{
    position: absolute;
    top: 0;
    _top: 1px;
    left: 296px;
    padding: 0;
    width: 40px;
    height: 40px;
    border: 2px solid $clr_c5;
    background-color: $clr_c2;
    background-image: $svg-search;
    background-size: 25px 25px;
    background-repeat: no-repeat;
    background-position: 5px 5px;
    transition: 0.3s;
    cursor: pointer;
    border-radius: 0;
    &:hover{
      background-color: rgba($clr_c2, 0.7);
    }
  }
  *:first-child + html #searchsubmit{
    top: 1px;
  }
}


////////// フッター //////////
.foot_wrap{
  padding: 2rem 0 7rem 0;
  width: 100%;
  background-color: $clr_c1;
  @include media(pc) {
    padding: 4rem 0;
  }
}
.footNav{
  text-align: center;
  margin-bottom: 2rem;
  li{
    display: inline-block;
    margin: 0 2rem;
  }
  a{
    font-size: 1.3rem;
    text-decoration: none;
    color: $clr_c7;
    &:hover{
      text-decoration: underline;
    }
  }
}
.copyright{
  text-align: center;
  font-size: 1.2rem;
  color: $clr_c7;
}


////////// パンくずリスト Breadcrumb NavXT //////////
.breadcrumb{
  display: none;
  @include media(pc) {
    display: block;
    margin: 1rem 0;
    > span{
      display: inline-block;
      span{
        position:relative;
        display: inline-block;
        background-color: $clr_c6;
        text-decoration: none;
        color: $clr_c2;
        height: 4rem;
        line-height:4rem;
        padding: 0 3rem 0 2rem;
        text-align: center;
        margin-right: 2.3rem;
        &:hover{
          background-color: $clr_a1;
          color: $clr_c7;
        }

        &:before,
        &:after{
          content: "";
          position:absolute;
          top: 0;
          border:0 solid $clr_c6;
          border-width:20px 10px;
          width: 0;
          height: 0;
        }
        &:before{
          left:-2rem;
          border-left-color:transparent;
        }
        &:after{
          left:100%;
          border-color:transparent;
          border-left-color:$clr_c6;
        }
        &:hover{
          background-color: $clr_a1;
          
          &:before{
            border-color:$clr_a1;
            border-left-color:transparent;
           }
          &:after{
            border-left-color:$clr_a1;
          }
        }

      }
    }
    > span:first-child{
      span{
        padding-left:3rem;
        &:before{ border: none; }
      }
    }
    > span:last-child{
      span{
        padding-right:3rem;
        background-color: $clr_a1;
        color: $clr_c7;
        &:before{ border-color:$clr_a1; border-left-color:transparent; }
        &:after{ border: none; }
      }
    }
  }
}


////////// ページネーション //////////
.pager{
  position: relative;
  display: -webkit-flex;
  display: flex;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-align-items: center;
  align-items: center;
  padding-top: 4.5rem;
  margin: 2rem auto;
  .page-numbers{
    display: block;
    padding: 0.3rem 0;
    width: 4rem;
    border: 1px solid  $clr_c5;
    text-decoration: none;
    font-weight: bold;
    color: $clr_c1;
    text-align: center;
    margin: 0 0.3rem;
    box-sizing: border-box;
  }
  .dots{ border: 0; }
  .current{
    background-color: $clr_a1;
    color: $clr_c7;
  }
  .prev,.next{
    position: absolute;
    width: 42%;
    top: 0;
    background-color: $clr_a1;
    color: $clr_c7;
    &:before,&:after{
      display: block;
      content: '';
      width: 0.8rem;
      height: 0.75rem;
      border: 0;
      position: absolute;
      top: 0;
      bottom: 0;
      margin: auto;
      @include media(pc) {
        transition: 0.2s;
      }
    }
    &:before{
      border-top: solid 2px $clr_c7;
    }
    &:after{
      border-bottom: solid 2px $clr_c7;
    }
  }
  .prev{
    left: 5%;
    &:before,&:after{
      -webkit-transform: rotate(-50deg);
      -o-transform: rotate(-50deg);
      transform: rotate(-50deg);
      left: 1.5rem;
      @include media(pc) {
        left: 2.5rem;
      }
    }
    &:after{
      -webkit-transform: rotate(50deg);
      -o-transform: rotate(50deg);
      transform: rotate(50deg);
    }
    @include media(pc) {
      &:hover:before, &:hover:after{
        left: 1.5rem;
      }
    }
  }
  .next{
    right: 0;
    left: 0;
    margin: auto;
    &:before,&:after{
      -webkit-transform: rotate(50deg);
      -o-transform: rotate(50deg);
      transform: rotate(50deg);
      right: 1.5rem;
      @include media(pc) {
        right: 2.5rem;
      }
    }
    &:after{
      -webkit-transform: rotate(-50deg);
      -o-transform: rotate(-50deg);
      transform: rotate(-50deg);
    }
    @include media(pc) {
      &:hover:before, &:hover:after{
        right: 1.5rem;
      }
    }
  }
}
.paged .pager .next{
  right: 5%;
  left: auto;
}