@charset "utf-8";

////////// モジュール //////////


////////// 目次 //////////
// 見出し
// バナー
// 右矢印(>)
// ページトップバー
// アサノハ柄

////////// 見出し //////////
.headline{
  width: 100%;
  padding: 0.5rem 0;
  background-color: $clr_c2;
  color: #fff;
  text-align: center;
  font-size: 1.8rem;
  font-weight: bold;
}

////////// バナー //////////
.bnr a{
  display: block;
  padding: 1.5rem 0;
  text-decoration: none;
  text-align: center;
  font-weight: bold;
  font-size: 1.6rem;
  color: $clr_c7;
  @include media(pc) {
    font-size: 1.8rem;
    padding: 3rem 0;
  }
}

////////// 右矢印(>) //////////
.arrow a{
  position: relative;
  &:before,&:after{
    display: block;
    content: '';
    width: 0.8rem;
    height: 0.75rem;
    border: 0;
    -webkit-transform: rotate(50deg);
    -o-transform: rotate(50deg);
    transform: rotate(50deg);
    position: absolute;
    top: 0;
    right: 1.5rem;
    bottom: 0;
    margin: auto;
    @include media(pc) {
      right: 2.5rem;
      transition: 0.2s;
    }
  }
  &:before{
    border-top: solid 2px $clr_c7;
  }
  &:after{
    border-bottom: solid 2px $clr_c7;
    -webkit-transform: rotate(-50deg);
    -o-transform: rotate(-50deg);
    transform: rotate(-50deg);
  }
  @include media(pc) {
    &:hover:before, &:hover:after{
      right: 1.5rem;
    }
  }
}

////////// ページトップバー //////////
.pagetopBar{
  background-color: $clr_c3;
   a{
    width: 100%;
    text-align: center;
    padding: 1rem 0;
    display: block;
    text-decoration: none;
    font-weight: bold;
    font-size: 1.5rem;
    color: $clr_c7;
  }
  span{
    position: relative;
    &:before,&:after{
      display: block;
      content: '';
      width: 0.8rem;
      height: 0.75rem;
      border: 0;
      -webkit-transform: rotate(50deg);
      -o-transform: rotate(50deg);
      transform: rotate(50deg);
      position: absolute;
      top: 0.75rem;
      right: -1.5rem;
    }
    &:before{
      border-left: solid 2px $clr_c7;
    }
    &:after{
      border-right: solid 2px $clr_c7;
      -webkit-transform: rotate(-50deg);
      -o-transform: rotate(-50deg);
      transform: rotate(-50deg);
    }
  }
}


////////// アサノハ柄 //////////
.asanoha{
  background:{
    image: $svg-asanoha;
    repeat: repeat;
  }
}


////////// 入力フォーム //////////
form{
  width: 100%;
  box-sizing: border-box;
  background-color: rgba($clr_c6,0.2);
  border: 1px solid $clr_c6;
  border-radius: 2px;
  box-shadow: 1px 1px 1px 0 $clr_c6;
  padding: 1rem;
}
label{
  width: 100%;
}
input[type=text],
input[type=search],
input[type=tel],
input[type=url],
input[type=email],
input[type=password],
input[type=number]{
  font-size: 1.6rem;
  padding: 0 1rem;
  width: 100%;
  height: 4rem;
  box-sizing: border-box;
  line-height: 4rem;
  border: 1px solid $clr_c6;
  border-top-color: $clr_c5;
  border-left-color: $clr_c5;
  -webkit-appearance: none;
  border-radius: 0;
}
input[type=tel],
input[type=password]{
  max-width: 40rem;
}
textarea{
  font-size: 1.6rem;
  padding: 1rem;
  width: 100%;
  height: 10rem;
  box-sizing: border-box;
  border: 1px solid $clr_c6;
  border-top-color: $clr_c5;
  border-left-color: $clr_c5;
  -webkit-appearance: none;
  border-radius: 0;
}
label.check{
  padding-left: 3rem;
  position: relative;
  &:before{
    content: '';
    position: absolute;
    left: 0;
    width: 2rem;
    height: 2rem;
    border: 2px solid $clr_c6;
    box-sizing: border-box;
  }
  input[type=checkbox]{
    display: none;
  }
  input[type=checkbox] + .checkIcon {
    position: relative;
    vertical-align: middle;
  }
  input[type=checkbox]:checked + .checkIcon {
    left: 0;
    color: #00aaff;
    position: absolute;
    margin-left: 3px;
    margin-top: 3px;
    width: 14px;
    height: 8px;
    border-bottom: solid 2px currentColor;
    border-left: solid 2px currentColor;
    -webkit-transform: rotate(-45deg);
            transform: rotate(-45deg);
  }
}
input[type=submit],
input[type=reset],
input[type=button]{
  cursor: pointer;
  color: $clr_c7;
  font-size: 1.6rem;
  font-weight: bold;
  padding: 0 1rem;
  width: 100%;
  height: 5rem;
  box-sizing: border-box;
  border: 1px solid $clr_c6;
  border-right-color: $clr_c5;
  border-bottom-color: $clr_c5;
  -webkit-appearance: none;
  border-radius: 0;
}
input[type=submit]{ background-color: $clr_a3; }
input[type=reset]{ background-color: $clr_c4; }